
body {
    background:rgba(0,0,0,0.1);
}
.box {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}
.container-fluid{
    padding: 20px;
}
.head-bar{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-black{
    background-color: black;
    color: white;
}
.btn-black:hover{
    outline: black;
    border: 1px solid black;
}

.presentation, .git, .previous-works, .skills,.contact-us, .end{
    padding: 40px;
}
.presentation .left, .presentation .right{
    width: 100%;
}
.presentation .left .indicator{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
}
.presentation .left .indicator .point{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(47,158,177,255);
    animation: big-small 1s infinite ease-in-out alternate;
}
.presentation .right .col-sm-6, .presentation .right .col-xl-6{
    margin-top: 10px;
}
.presentation .right .img{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}
@keyframes big-small {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.1);
    }
}
.presentation .left h1{
    font-size: 80px;
}
.presentation .right .recent-brands{
    border-radius: 10px;
    background-color: rgb(176, 138, 212);
    height: min-content(150px);
    width: 100%;
    padding: 30px;
    color: white;
}
.presentation .right .social{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}
.goal{
    width: 100%;
    margin-top: 30px;
    background-color: rgba(47,158,177,255);
    color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20vh;
}
.git .item{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}
.git .item .up, .git .item .down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.git .item .down{
    margin-top: 20px;
}
.git .item .up .field{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
}
.previous-works .field {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}
.previous-works .field .down{
    margin-top: 30px;
}
.previous-works .field .down .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.previous-works .field .up .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.previous-works .field .down .key {
    display: flex;
    margin-top: 20px;
}
.previous-works .field .down .key .item{
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(47,158,177,255);
    border-radius: 10px;
    margin-left: 10px;
}
.skills .item{
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.skills .other{
    padding-top: 40px;
}

.contact-us .field{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.46);
    display: flex;
    justify-content: center;
    padding: 30px;
}
.contact-us .field .personal-info{
    display: flex;
    justify-content: space-between;
}
.contact-us .field .personal-info input{
    width: 48%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.contact-us .field .personal-info input:focus{
    outline: none;
}

.contact-us .field textarea{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    border: none;
}
.contact-us .field textarea:focus{
    outline: none;
}
.end{
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 20px;
}
.end .field {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    height: 300px;
    display: flex;
}
.end .field .link{
    transition: 0.5s;
    margin-top: 20px;
}
.end .field .link:hover{
    text-decoration: underline;
    color: rgb(107, 107, 245);
}
.end .other{
    background-color: #2F9EB1;
}




@media (max-width: 960px) {
    .presentation .left h1{
        font-size: 50px;
    }
    .presentation, .git, .previous-works, .skills, .contact-us, .end{
        padding: 10px;
    }
    .presentation .right .img{
        display: none;
    }
    .goal{
        margin-top: 0px;
    }
    .contact-us .field .personal-info{
        display: contents;
    }
    .contact-us .field .personal-info input{
        width: 100%;
        margin-top: 10px;
    }
}
::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 5px;
    background-color: white;
    border-radius: 2px;
}
